{% extends 'front.html.twig' %}

{% block title %}New Users{% endblock %}

{% block body %}
    <h1>Create new Account</h1>

    {{ include('users/_form.html.twig') }}
    {# render the captcha field to the form in the view #}
    {{ form_row(form.captchaCode) }}

{% endblock %}
